<!doctype html>
<html lang="en">

    <head>
        <meta charset="utf-8">

        <title>reveal.js - The HTML Presentation Framework</title>

        <meta name="description" content="A framework for easily creating beautiful presentations using HTML">
        <meta name="author" content="Hakim El Hattab">

        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

        <link rel="stylesheet" href="css/reveal.css">
        <link rel="stylesheet" href="css/theme/moon.css" id="theme">

        <!-- Code syntax highlighting -->
        <link rel="stylesheet" href="lib/css/zenburn.css">

        <!-- Printing and PDF exports -->
        <script>
            var link = document.createElement( 'link' );
            link.rel = 'stylesheet';
            link.type = 'text/css';
            link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
            document.getElementsByTagName( 'head' )[0].appendChild( link );
        </script>

        <!--[if lt IE 9]>
        <script src="lib/js/html5shiv.js"></script>
        <![endif]-->
    </head>

    <body>

        <div class="reveal">

            <!-- Any section element inside of this container is displayed as a slide -->
            <div class="slides">
                <section data-markdown>
                    <script type="text/template">
                        # Phoenix Framework Workshop

                        Created by Rafael Gutierrez / @abaddon_gtz / rgutierrez@nearsoft.com
                    </script>
                </section>

                <section data-markdown>
                    <script type="text/template">
                        ## Agenda

                        * Brief Introduction
                        * Lab00: Hello World!
                        * Router, Path Helpers, Pipelines
                        * Plug
                        * Controller, View, Template
                        * Lab01: End to End
                        * Flash Messages
                        * Plug
                        * Lab02: Plug
                        * Lab03: Blog Phoenix
                    </script>
                </section>

                <section data-markdown>
                    <script type="text/template">
                        ## Elixir & Phoenix

                        * Phoenix is built on Elixir
                        * Elixir is 'fast' (see [benchmark](https://gist.github.com/omnibs/e5e72b31e6bd25caf39a))
                            * Not the 'fastest'
                        * Concurrent
                        * Beatiful code
                        * Simple Abstractions
                        * Reliable
                    </script>
                </section>

                <section data-markdown>
                    <script type="text/template">
                        ## Phoenix
                        * Simply way of how Phoenix works:
```
connection |> phoenix
```
                        * `connection` is a map with a known set of fields.
                        * `connection` contains all data from user request.
                        * When Phoenix is done, that `connection` will have the response in it.
                        * Each layer in Phoenix will change a little bit that `connection`.
                    </script>
                </section>

                <section data-markdown>
                    <script type="text/template">
                        ## The Layers of Phoenix

```
connection
    |> endpoint
    |> router
    |> pipelines
    |> controller
```
                        * Each request comes in throught an endpoint.
                        * the `router` directs the request into the appropiate `controller`, after passing it
                        through a series of `pipelines`.
                        * A `pipeline` group functions together to handle common tasks.
                        * You might have a `pipeline` for browser requests, and another for JSON requests.
                    </script>
                </section>

                <section data-markdown>
                    <script type="text/template">
                        ## Controllers flow

```Elixir
connection
    |> controller
    |> common_services
    |> action # <- your code!
```
                        * The `connection` flows into a `controller` and calls common services.
                        * Those common services are implemented with `Plug`.
                            * Plug is a specification for composable modules in between web applications. 
                        * Actions will do different things:
                            * access other web sites
                            * authenticate a user
                            * access databases
                            * etc.
                    </script>
                </section>

                <section data-markdown>
                    <script type="text/template">
                        ## Lab00: Hello World! (1)

                        * Run:

```
$ mix phoenix.new hello_phoenix 
OR
$ mix phx.new hello_phoenix 
...
Fetch and install dependencies? [Yn] Y
```
                        * Then:

```
$ cd hello_phoenix
$ mix phoenix.server
...
Shall I install rebar? [Yn] Y
```
                        * Go to http://localhost:4000
                    </script>
                </section>

                <section data-markdown>
                    <script type="text/template">
                        ## Lab00: Hello World! (2)

                        * Create a file `web/controllers/hello_controller.ex` with content:

```
defmodule HelloPhoenix.HelloController do
  use HelloPhoenix.Web, :controller

  def index(conn, _params) do
    text conn, "Hello Phoenix!"
  end
end
```
                    </script>
                </section>

                <section data-markdown>
                    <script type="text/template">
                        ## Lab00: Hello World! (3)

                        * Edit to `web/router.ex` and add:

```
  scope "/", HelloPhoenix do
    pipe_through :browser # Use the default browser stack

    get "/", PageController, :index
    get "/hello", HelloController, :index
  end
```
                        * Go to http://localhost:4000/hello_phoenix
                    </script>
                </section>

                <section data-markdown>
                    <script type="text/template">
                        ## Router (1)

                        * They match HTTP requests to controller actions.
                        * Define a series of pipeline transformations for scoping middleware to sets of routes.
                        * Phoenix generates the router file in `/web/router.ex`
                        * You define a new route inside a `scope` block:
```
scope "/", HelloPhoenix do
    pipe_through :browser # Use the default browser stack

    get "/", PageController, :index
    get "/hello", HelloController, :index
end
```
                        * &lt;http method&gt; &lt;path&gt;, &lt;controller module&gt;, &lt;controller method&gt;
                    </script>
                </section>

                <section data-markdown>
                    <script type="text/template">
                        ## Router (2)

                        * `get` is a macro that expands to a clause `match/3`. There are other macros for HTTP verbs like: `post`, `delete`, etc.
                        * `resource` is another macro that expands to a eight clauses of `match/3`. It helps to define routes for REST resources.
```
    resource "/users", UserController
```
                        * You can limit what actions do you want in your resources with `only` and `except`:
```
    resources "/posts", PostController, only: [:index, :show]
    resources "/comments", CommentController, except: [:delete]
```
                        * Use `$ mix phoenix.routes` to investigate routes in an application
                    </script>
                </section>

                <section data-markdown>
                    <script type="text/template">
                        ## Router - Path Helpers (1)

                        * When you run `$ mix phoenix.routes` notice the first text in each line. That is the Path Helper.
                        * Path helpers are functions which are dynamically defined on the `Router.Helpers` module for an individual application.
                        * Their names are derived from the name of the controller used in the route definition.
                        * Example: `HelloPhoenix.PageController` will generate `page_path` path helper.
                        * A path helper is what you must use to generate URL in your views.
                    </script>
                </section>

                <section data-markdown>
                    <script type="text/template">
                        ## Router - Path Helpers (2)

                        * Run `$ $ iex -S mix`
```
iex> HelloPhoenix.Router.Helpers.page_path(HelloPhoenix.Endpoint, :index)
"/"
iex> HelloPhoenix.Router.Helpers.hello_path(HelloPhoenix.Endpoint, :index)
"/hello"
iex> HelloPhoenix.Router.Helpers.hello_path(HelloPhoenix.Endpoint, :index, arg1: 1, arg2: 2)
"/hello?arg1=1&arg2=2"
```
                    </script>
                </section>

                <section data-markdown>
                    <script type="text/template">
                        ## Router - Pipelines (1)

                        * Pipelines are simply plugs stacked up together in a specific order and given a name.
                        * To customize behaviors and transformations related to the handling of requests.
                        * Notice that Phoenix generates `:browser` and `:api` pipelines.
                    </script>
                </section>

                <section data-markdown>
                    <script type="text/template">
                        ## Router - Pipelines (2)

                        * When you see this:
```
    plug :one
    plug Two
    plug :three, some: :option
```
                        * It expands to:
```
case one(conn, []) do
    %{halted: true} = conn -> conn
    conn ->
        case Two.call(conn, Two.init([])) do
            %{halted: true} = conn -> conn
            conn ->
                case three(conn, some: :option) do
                    %{halted: true} = conn -> conn
                    conn -> conn
                end
        end
end
```
                    </script>
                </section>

                <section data-markdown>
                    <script type="text/template">
                        ## Controllers (1)

                        * Controller's functions - called actions - are invoked from the router in response to HTTP requests.
                        * The actions gather all the necessary data and perform all the necessary steps before invoking the view layer to render a template or returning a JSON response.
                        * Controller actions are just functions.
                        * Each action takes two parameters: the first one is alsways the `connection` and the second is the parameters for the action.
                    </script>
                </section>

                <section data-markdown>
                    <script type="text/template">
                        ## Controllers (2)

```
defmodule HelloPhoenix.PageController do
  . . .

  def test(conn, params) do
    render conn, "index.html"
  end
end
```

                        * The second parameter `params` is a map which holds any parameters passed along in the HTTP request.
                        * It is a good practice to pattern match against params in the function signature to provide data in a simple package we can pass on to rendering.
                    </script>
                </section>

                <section data-markdown>
                    <script type="text/template">
                        ## Controllers - Rendering plain text (3)

                        * Controllers have several ways of rendering content.
                        * The simplest is to render some plain text using `text/2`.
                        * Try the following:
```
    get "/hello/:messenger", HelloController, :show
```

```
    def show(conn, %{"message" => message}) do
        text conn, "Your message is #{message}"
    end
```
                        * You can also render JSON using `json/2`, where the second parameter is a map.
                    </script>
                </section>

                <section data-markdown>
                    <script type="text/template">
                        ## Controllers - Rendering html (4)

                        * Phoenix controllers can also render HTML without a template.
                        * To render html you have to use `html/2`.
                        * Try the following:
```
def show(conn, %{"message" => message}) do
    html conn, """
    <html>
        <head>
            <title>Your message</title>
        </head>
        <body>
            <p>You sent the message: #{message}</p>
        </body>
    </html>
    """
end
```
                    </script>
                </section>

                <section data-markdown>
                    <script type="text/template">
                        ## Views (1)

                        * Phoenix views have two main jobs:
                            * Render templates 
                            * Provide functions to be used in templates.
                        * Phoenix assumes a strong naming convention from controllers to views to the templates they render. The `PageController` requires a `PageView` to render templates in the `web/templates/page` directory.
                    </script>
                </section>

                <section data-markdown>
                    <script type="text/template">
                        ## Templates (1)

                        * Files into which we pass data to form complete HTTP responses. 
                        * They are pre-compiled which makes them extremely fast.
                        * EEx is the default template system in Phoenix, and it is quite similar to ERB in Ruby.
                    </script>
                </section>

                <section data-markdown>
                    <script type="text/template">
                        ## Lab01: End to End (1)

                        * Run:

```
$ mix phoenix.new info_phoenix  
...
Fetch and install dependencies? [Yn] Y
```
                    </script>
                </section>

                <section data-markdown>
                    <script type="text/template">
                        ## Lab01: End to End (2)

                        * Create a new file in `web/controllers/info_controller.ex`.
                        
```
defmodule InfoPhoenix.InfoController do
    use InfoPhoenix.Web, :controller

    def index(conn, _params) do
        render conn, "index.html", title: "Info"
    end
end
```
                        * And add the route mapping to `web/router.ex`

```
    get "/info", InfoController, :index
```
                    </script>
                </section>

                <section data-markdown>
                    <script type="text/template">
                        ## Lab01: End to End (3)

                        * Create a new file in `web/view/info_view.ex`.
                        
```
defmodule InfoPhoenix.InfoView do
  use InfoPhoenix.Web, :view

  def handler_info(conn) do
    "Request Handled By: #{controller_module conn}.#{action_name conn}"
  end
end
```
                    </script>
                </section>

                <section data-markdown>
                    <script type="text/template">
                        ## Lab01: End to End (3)

                        * Create a new file in `web/templates/info/index.html.eex`.
                        
```
<div class="jumbotron">
  <h1><%= @title %></h1>
  <p><%= handler_info @conn %></p>
</div>
```
                    </script>
                </section>

                <section data-markdown>
                    <script type="text/template">
                        ## Lab01: End to End (3)

                        * Run:
                        
```
$ mix phoenix.server
```
                    </script>
                </section>

                <section data-markdown>
                    <script type="text/template">
                        ## Lab01: End to End (3)

                        * Why is failing?

                    </script>
                </section>

                <section data-markdown>
                    <script type="text/template">
                        ## Lab01: End to End (3)

                        * Modify the method `view` in `web/web.ex`:

```
  def view do
    quote do
      use Phoenix.View, root: "web/templates"

      # Import convenience functions from controllers
      import Phoenix.Controller, only: [get_csrf_token: 0, get_flash: 2, view_module: 1,
                                        action_name: 1, controller_module: 1]

      # Use all HTML functionality (forms, tags, etc)
      use Phoenix.HTML

      import InfoPhoenix.Router.Helpers
      import InfoPhoenix.ErrorHelpers
      import InfoPhoenix.Gettext
    end
  end
```

                    </script>
                </section>

                <section data-markdown>
                    <script type="text/template">
                        ## Lab01: End to End (3)

                        * Run:

```
$ mix phoenix.server
```

                        * Go to http://localhost:4000/info

                    </script>
                </section>

                <section data-markdown>
                    <script type="text/template">
                        ## Controllers - Flash Messages

                        * Flash messages exist to communicate with users during the course of an action.
                        * The `Phoenix.Controller` module provides the `put_flash/3` and `get_flash/2` functions to help us set and retrieve flash messages as a key value pair.
```
defmodule HelloPhoenix.PageController do
    # ...
    def index(conn, _params) do
        conn
        |> put_flash(:info, "Welcome to Phoenix, from flash info!")
        |> put_flash(:error, "Let's pretend we have an error.")
        |> render("index.html")
    end
end
```
                    </script>
                </section>

                <section data-markdown>
                    <script type="text/template">
                        ## Plug (1)

                        * Plug is:
                            * A specification for composable modules between web applications
                            * Connection adapters for different web servers in the Erlang VM
                        * There are two kinds of plugs: module plugs and function plugs
                        * A function plug is a single function.
                        * A module plug is a module that provides two functions with some configuration details.
                    </script>
                </section>

                <section data-markdown>
                    <script type="text/template">
                        ## Plug - Module plugs (2)

                        * Usually to a share plug across more than one module
                        * Plug specification:
                            * two functions `init` and `call`
                        * `init` happens at compilation time
                        * `call` happens at runtime
                        * Plug will use the result of `init` as a second argumento to `call`
                        * `conn` is `Plug.Conn`
```
defmodule NothingPlug do
    def init(opts) do
        opts
    end
    def call(conn, _opts) do
        conn
    end
end
```
                    </script>
                </section>

                <section data-markdown>
                    <script type="text/template">
                        ## Plug - Function plugs (3)

                        * Plug specification:
                            * a function that receives a `conn` and some options
                        * `conn` is `Plug.Conn`
```
    def some_function(conn, opts) do
        # ...
        conn
    end
```
                    </script>
                </section>

                <section data-markdown>
                    <script type="text/template">
                        ## Lab02: Plugs (1)

                        * Go to `/labs/plug_test`
                        * Run:

```
$ mix phoenix.server
```

                        * Go to http://localhost:4000

                    </script>
                </section>

                <section data-markdown>
                    <script type="text/template">
                        ## Lab02: Plugs (2)

                        * Go to `web/router.ex`
                        * Uncomment:

```
    #plug PlugTest.Plug
```

                        * Go to http://localhost:4000
                        * What happened?
                        * Go to http://localhost:4000/?passkey=ok
                        * Comment again:

```
    plug PlugTest.Plug
```

                    </script>
                </section>

                <section data-markdown>
                    <script type="text/template">
                        ## Lab02: Plugs (3)

                        * Go to `web/controllers/page_controller.ex`
                        * Uncomment:

```
    #plug :function_plug when action in [:test]
```

                        * Go to http://localhost:4000/test
                        * What happened?
                        * Go to http://localhost:4000/test?passkey=ok

                    </script>
                </section>

                <section data-markdown>
                    <script type="text/template">
                        ## Mix Tasks

                        * `mix help | grep -i phx`
                        * `mix help | grep -i phoenix`

                    </script>
                </section>

                <section data-markdown>
                    <script type="text/template">
                        ## Lab03: Blog Phoenix (1)

                        * Go to `/labs/blog_phoenix`
                        * Run:

```
$ mix phoenix.server
```

                        * Go to http://localhost:4000/blogs

                    </script>
                </section>

                <section data-markdown>
                    <script type="text/template">
                        ## Contexts (1)

                        * Contexts are dedicated modules that expose and group related functionality.
                        * A context will group related functionality, such as posts and comments, often encapsulating patterns such as data access and data validation.
                        * By using contexts, we decouple and isolate our systems into manageable, independent parts.
                        * https://hexdocs.pm/phoenix/ecto.html
                        * https://hexdocs.pm/phoenix/contexts.html#content
                    </script>
                </section>

            </div>

        </div>

        <script src="lib/js/head.min.js"></script>
        <script src="js/reveal.js"></script>

        <script>

            // Full list of configuration options available at:
            // https://github.com/hakimel/reveal.js#configuration
            Reveal.initialize({
                controls: true,
                progress: true,
                history: true,
                center: true,

                transition: 'slide', // none/fade/slide/convex/concave/zoom

                // Optional reveal.js plugins
                dependencies: [
                    { src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
                    { src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
                    { src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
                    { src: 'plugin/highlight/highlight.js', async: true, condition: function() { return !!document.querySelector( 'pre code' ); }, callback: function() { hljs.initHighlightingOnLoad(); } },
                    { src: 'plugin/zoom-js/zoom.js', async: true },
                    { src: 'plugin/notes/notes.js', async: true }
                ]
            });

        </script>

    </body>
</html>
